.perime .product-thumbnail {
    background-color: #8062D6;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px;
    color: rgb(25, 24, 24);
    border-radius: 8px;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.dans-1-jours .product-thumbnail {
  background-color: red;
  color: rgb(255, 255, 255);
  text-align: center;
    padding: 16px;
    color: rgb(25, 24, 24);
    border-radius: 8px;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.dans-7-jours .product-thumbnail {
  background-color: orange;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 16px;
  color: rgb(25, 24, 24);
  border-radius: 8px;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.dans-15-jours .product-thumbnail {

  background-color: yellow;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 16px;
  color: rgb(25, 24, 24);
  border-radius: 8px;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}
.product-thumbnail-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}
