<ion-header translucent="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/login" color="warning">
        <ion-icon slot="icon-only" size="large" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Ecolomie</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-title class="ion-text-uppercase">expiration-proche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-grid>
    <ion-row>
      <ion-list-header>
        PERIME
      </ion-list-header>
      <ion-col size="3" *ngFor="let productUserStorage of productUserStorages" class="perime">
        <ng-container *ngIf="calculateDaysDifference(productUserStorage.DLC) < 0">
          <div class="product-thumbnail">
            <div class="product-thumbnail-title">
              <p> {{ productUserStorage.product.name }} </p>
              <!-- <p> {{ productUserStorage.DLC | date: 'dd/MM/yyyy' }}</p> -->
              <p> Périmé depuis: {{ calculateDaysDifference(productUserStorage.DLC)* -1 }}</p>
            </div>
          </div>
        </ng-container>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-list-header>
        Dans 1 jour
      </ion-list-header>
      <ion-col size="3" *ngFor="let productUserStorage of productUserStorages" class="dans-1-jours">
        <ng-container *ngIf="calculateDaysDifference(productUserStorage.DLC)  === 0">
          <div class="product-thumbnail">
            <div class="product-thumbnail-title">
              <p> {{ productUserStorage.product.name }} </p>
              <p> {{ productUserStorage.DLC | date: 'dd/MM/yyyy' }}</p>
              <p> J - {{ calculateDaysDifference(productUserStorage.DLC) }}</p>
            </div>
          </div>
        </ng-container>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-list-header>
        Dans 7 jours
      </ion-list-header>
      <ion-col size="3" *ngFor="let productUserStorage of productUserStorages" class="dans-7-jours">
        <ng-container *ngIf="calculateDaysDifference(productUserStorage.DLC) <= 7 && calculateDaysDifference(productUserStorage.DLC) > 1">
          <div class="product-thumbnail">
            <div class="product-thumbnail-title">
              <p> {{ productUserStorage.product.name }} </p>
              <p> {{ productUserStorage.DLC | date: 'dd/MM/yyyy' }}</p>
              <p> J - {{ calculateDaysDifference(productUserStorage.DLC) }}</p>
            </div>
          </div>
        </ng-container>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-list-header>
        Dans 15 jours
      </ion-list-header>
      <ion-col size="3" *ngFor="let productUserStorage of productUserStorages" class="dans-15-jours">
        <ng-container *ngIf="calculateDaysDifference(productUserStorage.DLC) <= 15 && calculateDaysDifference(productUserStorage.DLC) > 7">
          <div class="product-thumbnail">
            <div class="product-thumbnail-title">
              <p> {{ productUserStorage.product.name }} </p>
              <p> {{ productUserStorage.DLC | date: 'dd/MM/yyyy' }}</p>
              <p> J - {{ calculateDaysDifference(productUserStorage.DLC) }}</p>
            </div>
          </div>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>



