<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/login" color="warning" *ngIf="!isLoggedIn">
        <ion-icon slot="icon-only" size="large" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button color="danger" *ngIf="isLoggedIn" (click)="onLogout()">
        <ion-icon slot="icon-only" size="large" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ecolomie</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-title>Mes produits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="end">
        <ion-button size="small" color="primary" routerLink="/newproduct">
          <ion-icon name="add"></ion-icon>
          <ion-label color="light">Ajouter un produit</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let productUserStorage of productUserStorages"> <!-- Taille de la colonne modifiée à 6 -->
        <ion-card color="light">
          <ion-item-sliding>
            <ion-item color="sucess"> <!-- Correction de la couleur -->
              <ion-card-header>
                <ion-card-subtitle>{{ productUserStorage.storage.name }}</ion-card-subtitle>
                <ion-card-subtitle><ion-badge>{{ productUserStorage.quantity }}</ion-badge></ion-card-subtitle>
                <ion-card-title>{{ productUserStorage.product.name }}</ion-card-title>
              </ion-card-header>
            </ion-item>

            <ion-item-options side="start">
              <ion-item-option color="success" (click)="openUpdatePage(productUserStorage.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="openDeleteConfirm(productUserStorage.id)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
