<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/login" color="warning">
        <ion-icon slot="icon-only" size="large" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Ecolomie</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    idList : {{ idList}} //
  </ion-toolbar>
  <ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="end">
        <ion-button size="small" color="primary" routerLink="/newproduct-for-list/{{idList}}">
          <ion-icon name="add"></ion-icon>
          <ion-label>Ajouter un produit</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-col *ngFor="let myListProduct of myListProducts, let i = index">
      <ng-container *ngIf="myListProduct.myList.id === idList">
        <ion-list>
          <ion-item-sliding>
            <ion-item color="primary">
              <ion-list >
                id: {{ myListProduct.id }}
                name : {{ myListProduct.productForList.name }}
                qtt : {{ myListProduct.quantity }}
                courseId : {{ myListProduct.myList.id }}
                <ion-checkbox (ionChange)="onClickCheckBox($event, myListProduct)">


                    buy : {{ myListProduct.is_product_buy === 1 ? 'Yes' : 'No' }}

                </ion-checkbox>
                  <ion-button class="button-spacing" color="white" (click)="decreaseQuantity(myListProduct)">-</ion-button>
                    {{ myListProduct.quantity }}
                  <ion-button class="button-spacing" color="white" (click)="increaseQuantity(myListProduct)">+</ion-button>

                </ion-list>
              </ion-item>
              <ion-item-options>
                <ion-item-option color="danger" (click)="openDeleteConfirm( myListProduct.id)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>

              </ion-item-options>
              </ion-item-sliding>
          </ion-list>
        </ng-container>
    </ion-col>
  </ion-grid>
</ion-content>




