<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ productUserStorage?.product?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="productUserStorage">
    
    <ion-item>
      <ion-label>Emplacement:</ion-label>{{ productUserStorage.storage.name }}
    </ion-item>
    
    
    <ion-item>
      <ion-label>Quantité: </ion-label>

      {{ productUserStorage.quantity }}

    </ion-item>
    <ion-item>
      <ion-label>Date limite de consommation: </ion-label>{{ productUserStorage.DLC | date: 'dd/MM/yyyy' }}
    </ion-item>

    <ion-item>
      <ion-label>Nutriscore: </ion-label>{{ productUserStorage.product.nutriscore }}
    </ion-item>
    <ion-item>
      <ion-img [src]="productUserStorage.product.image"></ion-img>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="productUserStorage">
    <ion-button color="success" [routerLink]="['/update-product', productUserStorage.id]" >
      <ion-icon aria-hidden="true" name="update-product"></ion-icon>
      <ion-label>Modifier le produit</ion-label>
    </ion-button>
  </ion-list>

  <ion-button color="danger" (click)="deleteProductUserStorage(productUserStorage.id)">Supprimer le produit</ion-button>
</ion-content>
  