<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/login" color="warning" *ngIf="!isLoggedIn">
        <ion-icon slot="icon-only" size="large" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button color="danger" *ngIf="isLoggedIn" (click)="onLogout()">
        <ion-icon slot="icon-only" size="large" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Ecolomie</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-button (click)="scanBarcode()">Scan Barcode</ion-button>
    <ion-button (click)="resetProduct()">Clear</ion-button>
  </ion-toolbar>

  <ion-card *ngIf="showProductDetails">
    <ion-card-header>
      <ion-card-title>{{ product.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nutri-Score: {{ product.nutriscore }}</p>
      <img [src]="product.image" alt="{{ product.name }}" />
        <ion-item>
          <ion-label>DLC</ion-label>
          <ion-input label="DLC" [(ngModel)]="product.dlc" type="date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Quantité</ion-label>
          <ion-input label="Quantité" [(ngModel)]="product.quantity" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Storage</ion-label>
          <ion-select label="Storage" [(ngModel)]="product.storage">
            <ion-select-option *ngFor="let storage of storages" [value]="'/api/storages/' + storage.id">{{ storage.name
              }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select label="Category" [(ngModel)]="product.category">
            <ion-select-option *ngFor="let category of categories" [value]="'/api/categories/' + category.id">{{
              category.name }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="saveProduct()">Save</ion-button>
        <ion-button (click)="resetProduct()">Clear</ion-button>
      </ion-card-content>
    </ion-card>


