<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isRegistering ? 'INSCRIPTION' : 'CONNEXION' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="logo">
        <img src="assets/img/logo.png" alt="logo">
      </div>

      <ion-item fill="solid" class="ion-margin-top">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="mail" formControlName="email" placeholder="Adresse email" required></ion-input>
      </ion-item>
      <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        <p *ngIf="loginForm.get('email')?.errors?.['required']">L'email est requis.</p>
        <p *ngIf="loginForm.get('email')?.errors?.['email']">Veuillez entrer une adresse email valide.</p>
      </div>


      <ion-item fill="solid" class="ion-margin-top">
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input color="primary" type="password" formControlName="password" placeholder="Mot de passe"></ion-input>
        </ion-item>
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          <p *ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est requis.</p>
          <p *ngIf="loginForm.get('password')?.errors?.['minlength']">Le mot de passe doit contenir au moins 6
            caractères.</p>
        </div>


      <ion-item *ngIf="isRegistering" fill="solid" class="ion-margin-top">
        <ion-label position="floating">Prenom</ion-label>
        <ion-input color="success" type="text" formControlName="firstname" placeholder="Prénom"></ion-input>
      </ion-item>

      <ion-item *ngIf="isRegistering" fill="solid" class="ion-margin-top">
        <ion-label position="floating">Nom</ion-label>
        <ion-input color="success" type="text" formControlName="lastname" placeholder="Nom"></ion-input>
      </ion-item>



      <ion-item lines="none">
        <ion-button color="light" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
      </ion-item>

      <ion-button color="light" expand="block" shape="round" fill="outline" type="submit"
        [disabled]="!loginForm.valid">
        {{ isRegistering ? 'Inscription' : 'Connexion' }}
      </ion-button>
      <br>

      <ion-button color="tertiary" expand="block" shape="round" (click)="isRegistering = !isRegistering">
        {{ isRegistering ? 'Aller à la connexion' : 'Aller à l\'inscription' }}
      </ion-button>
    </form>
  </div>
</ion-content>
